
$body-bg: rgb(183, 183, 183);
$body-color: rgb(44, 44, 44);
$primary: #000000;
$danger: #ff4136;
.form_new_post {
    display: flex;
    width: 500px;
    justify-content: center;
    flex-direction: column;
}

@import "~bootstrap/scss/bootstrap";